<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
style
<!-- include ../static/style.css -->

<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Get 'Nothing' only for $60 - Hurry Up, fill this form now and get 10% extra Nothing.</h2>
        <!-- <p>
            | #{content}
        </p> -->

        <form action="/" method="post" id="contact">
            <input name="name" type="text" id="name" placeholder="Enter your Name">
            <input name="age" type="number" id="age" placeholder="Enter your Age">
            <input name="gender" type="text" id="gender" placeholder="Enter your Gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More About You"></textarea>
            <button class="btn">Submit</button>
        </form>

    </div>


</body>

</html>