@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    background-color: #d43b3b;
    padding: 18px 14px;
    font-family: 'Yeon Sung' ;
    font-weight: bold;
}

#navbar ul{
    display: flex;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    font-size: 23px;
}

#navbar li a:hover{
    color: black;
}

#introSection{
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url(/static/bg.jpg);
    background-color: red;
    color: white;
    height: 400px;
    padding-bottom: 40px;
}

#introSection div.small{
    font-size: 43px;
    padding: 5px;
}

#missionSection{
    height: 300px;
    width: 75%;
    margin: auto;
}

#missionSection h2{
    padding-top: 12px;
    text-align: center;
    font-size: 2rem;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 15px;
    height: 180px;
}

.card h3{
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#sponsorSection{
    background-color: rgba(240, 111, 111, 0.801);
    height: 300px;
}

#sponsorSection h2{
    font-size: 2rem;
    padding-top: 12px;
    text-align: center;
}

#footer{
    background-color: black;
    color: white;
    height: 100px;
}